/* Designed by "inventor_robot@yahoo.com" */
* { margin: 0; padding: 0; }
body { background: #FFF url('bg.jpg') repeat top;font: normal 10pt "tahoma", sans-serif; margin: 0px; padding: 0px;}
input, button, textarea, select {  font: normal 10pt "tahoma", sans-serif; color:#373737; vertical-align: middle; }
legend { display: none; }
fieldset { border: none; }
ul, ol { list-style: none; }
table { border-collapse: collapse; width: 100%; }
hr { display: none; }
img { padding: 0px; margin: 0px; border: none; text-align: center;}

a:link { text-decoration: none; color : #340b58; border: 0px; -moz-outline-style: none;}
a:active { text-decoration: none; color : #340b58; border: 0px; -moz-outline-style: none;}
a:visited { text-decoration: none; color : #0774b7; border: 0px; -moz-outline-style: none;}
a:hover	{ text-decoration:none; color : #c43b31; border: 0px; -moz-outline-style: none;} 
a:focus { outline: none;-moz-outline-style: none;}

h1, h2, h3, h4 { font-family: "tahoma" , Arial, Helvetica, sans-serif; }

/* bg 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#bg {width: 1003px; margin: 0 auto;}
.con { width: 1003px; float: left;}

/* Header 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header { direction:rtl;text-align:right;width: 1003px;height:164px; float: left;position: relative;
margin-top:39px}
.header h1{
	padding:70px 250px 0 0;
}

/* Menu 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#jquery-script-menu {position: fixed;height: 39px;width: 1003px;-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);z-index: 999999;}
.nav{direction:rtl;font-family:Tahoma;font-size:9pt;height:39px;background:url('Menu.png') no-repeat right top;}
.nav1{float:right;height:39px;width:40px;}

.nav2{text-align:right;float:right;height:29px;padding-top:10px;}
.nav2 ul li{display:inline;}
.nav2 a:link{text-decoration:none;outline:none;} 
.nav2 a:visited{text-decoration:none;outline:none;}
.nav2 a:hover{font-weight:bold;text-decoration:none;}
.nav2{color:#c71ea9;width:730px;}
.nav2 a:link{color:#c43b31;margin:0px 5px 0px 5px;} 
.nav2 a:visited{color:#c43b31;margin:0px 5px 0px 5px;}
.nav2 a:hover{color:#931838;margin:0px -2px 0px 3px;}

.nav3{float:right;height:34px;width:190px;margin-top:5px;}
.sch{height:30px;margin-top:5px;}
.txt{border:0;background:none;height:20px;width:155px;}
.btn{height:20px; cursor:pointer;width:30px;border:none;background:none;outline:none}

.toppage{width:33px;height:32px;float:left;padding-top:3px;padding-left:3px}
/* Menu 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.scs1 { float: left; width: 768px;}
/* Side 1-2-3
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sc-all { width: 1003px;float: right;}
.sc { text-align:right;direction:rtl;padding:0px 0px 0px 0px;}
/* Post Single
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.post{padding: 0px 0px;}

.post .p-head { }
.post .p-head1{width:1003px;height:65px;background:url('pt.gif') no-repeat right top;direction:rtl;text-align:right;color:#fff;font-size:9pt;font-family: Tahoma;}
.p-head1 a{color:#333333;text-decoration:none;}
.post .p-head2{padding:29px 65px 0px 20px;}

.post .p-con {width:1003px;overflow:hidden }
.post .p-con1{width:1003px;background:url('pc.gif') repeat-y right top;color:#333333;font-size:9pt;}
.post .p-con2{padding:5px 20px 5px 20px;}
.post .p-photo{float:right}
.post .p-height{line-height:21px}
.post .p-con3{width:1003px;background:url('pb.jpg') no-repeat right top;height:45px;text-align:right}
.post .p-con4{padding:1px 80px 0px 5px}
.post .date{width:550px;float:right;font-size:8pt;color:#333333}
.post .nazar{width:130px;float:left;font-size:9pt;color:#fff;text-align:center;padding:20px 0 0 0}
.post .nazar a{color:#fff}

.cb_general{width:1003px;padding:0px; text-align:right;color:#888;font-size:10pt;line-height:24px}
.cb_general .p-head1{width:1003px;height:65px;background:url('plt.gif') no-repeat right top;text-align:right;color:#333333;}
.cb_general .p-head2{padding:29px 65px 0px 20px;}
.cb_general .p-con1{width:1003px;background:url('pc.gif') repeat-y right top;color:#333333;font-size:9pt;padding:10px 30px 10px 10px}
.cb_general .p-con3{width:1003px;background:url('plb.jpg') no-repeat right top;height:45px;text-align:right}
.cb_general a{color:#c43b31;}
.cb_general a:hover{color:#931838}

.cb_page_box{overflow:hidden;margin:0px auto;font-size: 10pt;font-family: Tahoma ;color: black;text-align:center;width:1003px;padding:0 90 0 0;}
.cb_page_box ul{direction:rtl;height:17px;margin:0px auto ;width:460px;list-style:none;text-align:center;}
.cb_page_box li{float: right;margin-right:5px;list-style:none;background:none;width:auto ;}
.cb_page_box a{border:1px solid #0b70be;display:block;line-height:14px;text-align:center;width:17px;color: #340b58;background:#ededed none repeat scroll 0 0;}
.cb_page_box a:hover{text-decoration:none;}
.cb_page_box a b{color:#fff;background:#ba3526 none repeat scroll 0 0;display:block;line-height:14px;text-align:center;width:17px;	}
.cb_page_box a i:before{}
/* Side 1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sl{direction:rtl;margin-right:0px; text-align:right;float:right;width: 209px;font-size: 11px;}
.menul{width:209px;float:right;}
.sl .tmenulanguage{width:209px;background:url('language.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sl .tmenufriends{width:209px;background:url('friends.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sl .tmenulinks{width:209px;background:url('links.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sl .tmenuextrapage{width:209px;background:url('extrapage.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sl .tmenutags{width:209px;background:url('tags.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sl .tmenuvisit{width:209px;background:url('visit.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sl .tmenu2{padding:20px 65px 0px 0px;text-align:right}
.sl .xmenu{width:209px;float:left;color:#444444;font-size:9pt;}
.sl .menu-txt{padding:3px 15px 6px 0;background:url('dot.gif') no-repeat 180px 6px;border-bottom:1px solid #0b70be;margin:0px 10px}
.sl .menu-txt2{padding:0 10px 5px 10px;}
.menu-txta{font-family:Tahoma;font-size:9pt;color:#444444;line-height:18px;  padding:0 0 6px 0;border-bottom:1px solid #0b70be;margin:0 10px}
.sl .s{width:209px;background:url('mp.png') no-repeat right top;height:40px;float:right}
/* Side 2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sr {text-align:right;direction:rtl; float:left; width: 209px; font-size: 11px;margin-left:0px;}
.sr .menur{width:209px;float:left;}
.sr .tmenuabout{width:209px;background:url('about.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenuwriter{width:209px;background:url('writer.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenusubject{width:209px;background:url('subject.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenumembership{width:209px;background:url('membership.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenupoll{width:209px;background:url('poll.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenurecententries{width:209px;background:url('recententries.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenuarchive{width:209px;background:url('archive.png') no-repeat right top;height:58px;color:#0774b7;font-size:9pt;}
.sr .tmenu2{padding:20px 65px 0px 0px;text-align:right}
.sr .xmenu{width:209px;float:left;color:#340b58;font-size:9pt;}
.sr .menu-txt{padding:3px 15px 6px 0;background:url('dot.gif') no-repeat 180px 6px;border-bottom:1px solid #0b70be;margin:0px 10px}
.sr .menu-txt2{padding:0 10px 5px 10px;}
.sr .descri{ text-align:justify}
.sr .s{width:209px;background:url('mp.png') no-repeat right top;height:40px;float:right}
/* Footer 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer{margin:0px;padding:0px;text-align:center; width: 1003px; float: left;background:url('ft.png')no-repeat  top;font-size:9pt;color:#5f134a;direction:rtl;height:80px;}
.footer p{padding-top:50px;}

.clearfix {display: inline-block;}
.clearfix:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}