/* Designed by "inventor_robot@yahoo.com" */
* { margin: 0; padding: 0; }
body { background: #FFF url('bg.jpg') repeat top;font: normal 10pt "tahoma", sans-serif; margin: 0px; padding: 0px;}
input, button, textarea, select {  font: normal 10pt "tahoma", sans-serif; color:#373737; vertical-align: middle; }
legend { display: none; }
fieldset { border: none; }
ul, ol { list-style: none; }
table { border-collapse: collapse; width: 100%; }
hr { display: none; }
img { padding: 0px; margin: 0px; border: none; text-align: center;}

a:link { text-decoration: none; color : #444444; border: 0px; -moz-outline-style: none;}
a:active { text-decoration: none; color : #444444; border: 0px; -moz-outline-style: none;}
a:visited { text-decoration: none; color : #319bd8; border: 0px; -moz-outline-style: none;}
a:hover	{ text-decoration:none; color : #999999; border: 0px; -moz-outline-style: none;} 
a:focus { outline: none;-moz-outline-style: none;}

h1, h2, h3, h4 { font-family: "tahoma" , Arial, Helvetica, sans-serif; }

/* bg 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#bg {width: 1003px; margin: 0 auto;}
.con { width: 1003px; float: left;}

/* Header 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header { direction:rtl;border-bottom:1px #aaa solid;text-align:right;width: 1003px;height:203px; float: left;position: relative;}

.nav{font-family:Tahoma;font-size:9pt;height:35px;}

.nav1{float:right;height:35px;}

.nav2{text-align:right;float:right;height:35px;margin-top:10px;}
.nav2 ul li{display:inline;}
.nav2 a:link{text-decoration:none;outline:none;} 
.nav2 a:visited{text-decoration:none;outline:none;}
.nav2 a:hover{font-weight:bold;text-decoration:none;}

.nav3{float:right;height:35px;width:190px;margin-top:5px;}
.sch{height:30px;margin-top:5px;}
.txt{border:0;background:none;height:20px;width:155px;}
.btn{height:20px; cursor:pointer;width:30px;border:none;background:none;outline:none}

/* Menu 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.scs1 { float: left; width: 768px;}
/* Side 1-2-3
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sc-all { width: 543px;float: right;}
.sc { text-align:right;direction:rtl;padding: 5px; width: 543px;}
/* Post Single
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.post{padding: 0px 0px;}

.post .p-head { }
.post .p-head1{width:543px;height:50px;background:url('p4.GIF') no-repeat right top;direction:rtl;text-align:right;color:#fff;font-size:9pt;font-family: Tahoma;}
.p-head1 a{color:#fff;text-decoration:none;}
.post .p-head2{padding:12px 35px 0px 20px;}

.post .p-con {width:543px;overflow:hidden }
.post .p-con1{width:543px;background:url('p2.gif') repeat-y right top;color:#333333;font-size:9pt;}
.post .p-con2{padding:5px 20px 5px 20px;}
.post .p-photo{float:right}
.post .p-height{line-height:21px}
.post .p-con3{width:543px;background:url('p3.jpg') no-repeat right top;height:55px;text-align:right}
.post .p-con4{padding:15px 50px 0px 5px}
.post .date{width:350px;float:right;font-size:8pt;color:#777777}
.post .nazar{width:130px;float:left;font-size:9pt;color:#fff;text-align:center;}
.post .nazar a{color:#fff}

.cb_general{width:543px;padding:10px; text-align:right;color:#888;font-size:10pt;line-height:24px}
.cb_general a{color:orange;}
.cb_general a:hover{color:red}

.cb_page_box{overflow:hidden;margin:0px auto;font-size: 10pt;font-family: Tahoma ;color: black;text-align:center;width:400px;padding:0 90 0 0;}
.cb_page_box ul{direction:rtl;height:17px;margin:0px auto ;width:460;list-style:none;text-align:center;}
.cb_page_box li{float: right;margin-right:5px;list-style:none;background:none;width:auto ;}
.cb_page_box a{border:1px solid #c3c3c3;display:block;line-height:14px;text-align:center;width:17px;color: orange ;background:#ededed none repeat scroll 0 0;}
.cb_page_box a:hover{text-decoration:none;}
.cb_page_box a b{color:#fff;background:#ba3526 none repeat scroll 0 0;display:block;line-height:14px;text-align:center;width:17px;	}
.cb_page_box a i:before{}
/* Side 1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sl{direction:rtl;margin-right:5px; text-align:right;float:right;width: 209px;font-size: 11px;}
.menul{width:209px;float:right;}
.sl .tmenu{width:209px;background:url('m2.GIF') no-repeat right top;height:58px;color:#e47300;font-size:9pt;}
.sl .tmenu2{padding:20px 65px 0px 0px;text-align:right}
.sl .xmenu{width:209px;float:left;color:#444444;font-size:9pt;background:url('m2.jpg') repeat-y right top;}
.sl .menu-txt{padding:3px 15px 6px 0;background:url('dot.gif') no-repeat 180px 6px;border-bottom:1px solid #dcdcdc;margin:0px 10px}
.sl .menu-txt2{padding:0 10px 5px 10px;}
.menu-txta{font-family:Tahoma;font-size:9pt;color:#444444;line-height:18px;  padding:3 15 6 0;border-bottom:1px solid #dcdcdc;margin:0 10px}
.sl .s{width:209px;background:url('m4.GIF') no-repeat right top;height:30px;float:right}
/* Side 2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sr {text-align:right;direction:rtl; float:left; width: 209px; font-size: 11px;margin-left:16px;}
.sr .menur{width:209px;float:left;}
.sr .tmenu{width:209px;background:url('m2.GIF') no-repeat right top;height:58px;color:#e47300;font-size:9pt;}
.sr .tmenu2{padding:20px 65px 0px 0px;text-align:right}
.sr .xmenu{width:209px;float:left;color:#444444;font-size:9pt;background:url('m2.jpg') repeat-y right top;}
.sr .menu-txt{padding:3px 15px 6px 0;background:url('dot.gif') no-repeat 180px 6px;border-bottom:1px solid #dcdcdc;margin:0px 10px}
.sr .menu-txt2{padding:0 10px 5px 10px;}
.sr .descri{ text-align:justify}
.sr .s{width:209px;background:url('m4.GIF') no-repeat right top;height:30px;float:right}
/* Footer 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer{margin:0px;padding:0px;text-align:center; width: 1003px; float: left;background:url('ft2.GIF') repeat-x  top;font-size:9pt;color:white;direction:rtl;height:45px;}
.footer p{padding-top:12px;}

.clearfix {display: inline-block;}
.clearfix:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}