/* Designed by "inventor_robot@yahoo.com" */
@import url("http://static.mihanblog.com//public/user_data/user_files/153/458214/BlackMihanblog/reset.css");
a:link { text-decoration: none; color : #0292c6; border: 0px; -moz-outline-style: none;}
a:active { text-decoration: none; color : #0292c6; border: 0px; -moz-outline-style: none;}
a:visited { text-decoration: none; color : #09b3f1; border: 0px; -moz-outline-style: none;}
a:hover	{ text-decoration:none;font-weight:bold;color : #aaaaaa; border: 0px; -moz-outline-style: none;} 
a:focus { outline: none;-moz-outline-style: none;}

html {height:100%;}
body { font-family:"Tahoma", Arial, Verdana, sans-serif; font-size:10pt; color:#0292c6;
	   background:url(bodybg.png) repeat; }
 
/* bg
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#bg {width: 957px; margin: 0 auto;}
#con{width: 955px;float:left; border-bottom:1px #aca899 solid;border-left:1px #aca899 solid;border-right:1px #aca899 solid;
     border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background:url('BgCon.jpg') repeat;padding-bottom:3px}
/* Header 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header { width: 955px;height:150px;margin-right:auto;margin-left:auto}
/* Menu 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nav{float:left;width: 955px;font-family:Tahoma;font-size:9pt;height:41px;direction:rtl;
	background:url('bgp.jpg') repeat;border:1px #aca899 solid;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}

.nav2{height:41px;text-align:right;float:right;width:600px}
.nav2 ul{height:41px;float:right;display:inline;width:600px;line-height:39px}
.nav2 ul li{height:41px;display:inline;line-height:40px}
.nav2 a{height:41px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-width:1px;
		border-style:solid;color:#1581b1; text-decoration:none;outline:none;font-weight:normal;padding:12px;padding-bottom:13px} 
.nav2 a:visited{height:41px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;padding:12px;padding-bottom:13px;
				border-left:1px #1581b1 solid;border-right:1px #1581b1 solid;border-top:1px #1581b1 solid; text-decoration:none;
				outline:none;}
.nav2 a:hover{height:41px;background:#848484;border:1px solid #FFF;border-radius:4px;-webkit-border-radius:4px;
			  -moz-border-radius:4px;color:#FFF;text-decoration:none;}

.nav3{float:left;height:41px;width:190px;background:url('../BlueBlogfa/searchbar.png') no-repeat right center}
.sch{height:41px;width:190px;float:right}
.txt{border:0;background:none;height:25px;width:140px;color:#3079bd;font-size:8pt;float:right;margin-top:7px;padding-right:2px;font-family:Tahoma}
.btn{height:30px; cursor:pointer;width:40px;border:none;background:url('../BlueBlogfa/gobutton.PNG') no-repeat top center;outline:none;float:right;margin-top:5px}

.rss{float:left;width:24px;height:41px;margin-left:5px;padding-top:8px}

.home{float:left;width:32px;height:41px;margin-left:5px;padding-top:6px}
/* Side 1-2-3
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#scs1 {float: left; width: 734px;}
#sc-all {width: 510px;float: right;}
#sc {text-align:right;direction:rtl;padding:5px 5px 0px 5px; width: 510px;}
/* Post Single
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.post{padding: 0px 0px;}

.post .p-head { }
.post .p-head1{width:520px;height:25px;background:url('bgp.jpg') repeat;direction:rtl;text-align:right;color:#0292c6;font-size:9pt;
			   font-family: Tahoma;border:1px #aaa solid}
.p-head1 a{color:#0292c6;text-decoration:none;}
.p-head1 a:hover{color:#aaa;text-decoration:none;}
.post .p-head2{padding:5px 5px 0px 20px;}

.post .p-con {width:520px;}
.post .p-con1{width:520px;background:url('bg.gif') repeat;color:#333333;font-size:9pt;border:1px #aaa solid}
.post .p-con2{padding:5px 20px 5px 20px;overflow:hidden}
.post .p-photo{float:right}
.post .p-height{line-height:21px}
.post .p-con3{width:520px;background:url('bgp.jpg') repeat;text-align:right;border-bottom:1px #aaa solid
              ;border-left:1px #aaa solid;border-right:1px #aaa solid;color:#333333;margin-bottom:8px}
.post .p-con4{padding:3px 5px 5px 5px}

.cb_general{width:520px;padding:10px; text-align:right;color:#0292c6;font-size:10pt;line-height:24px}

.cb_page_box{float: right ;font-size: 10pt;font-family: Tahoma ;color:#0292c6;text-align:center;width:520px;
             padding:10px 0 0 0;}
.cb_page_box ul{direction:rtl;height:17px;margin:0px auto;width:376px;list-style:none;text-align:center;}
.cb_page_box li{float: right;margin-right:5px;list-style:none;background:none;width:auto ;}
.cb_page_box a{border:1px solid #aaa;display:block;line-height:14px;text-align:center;width:17px;color:#0292c6 ;
               background:none repeat scroll 0 0;}
.cb_page_box a:hover{text-decoration:none;}
.cb_page_box a b{color:red;background:none repeat scroll 0 0;display:block;line-height:14px;text-align:center;width:17px;	}
.cb_page_box a i:before{}
/* Side 1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sl{direction:rtl; text-align:right;float:left;width: 200px;font-size: 11px;margin-left:3px }
.menul{width:200px;margin-top:8px}
.sl .tmenu{width:200px;background:url('menutop.png') no-repeat center top;height:36px;color:red;font-size:9pt;}
.sl .tmenu2{padding:7px 0px 0px 0px;text-align:center}
.sl .xmenu{border-right:#9b9a99 solid 1px;border-left:1px #9b9a99 solid;background-image:url('bg.gif');background-repeat:repeat;
 		   width:198px}
.sl .menu-txt{padding:3px 15px 6px 0;background:url('../orangeZitova/dot.gif') no-repeat 180px 6px;
 			  border-bottom:1px solid #dcdcdc;margin:0px 10px}
.sl .menu-txt2{padding:0 10px 5px 10px;}
.menu-txta{font-family:Tahoma;font-size:9pt;color:#444444;line-height:18px;  padding:3 15 6 0;border-bottom:1px solid #dcdcdc;margin:0 10px}
.sl .s{width:200px;background:url('MenuDown.png') no-repeat center top;height:13px}
/* Side 2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sr{direction:rtl; text-align:right;float:right;width: 200px;font-size: 11px;margin-right:3px }
.menur{width:200px;margin-top:8px}
.sr .tmenu{width:200px;background:url('menutop.png') no-repeat center top;height:36px;color:red;font-size:9pt;}
.sr .tmenu2{padding:7px 0px 0px 0px;text-align:center}
.sr .xmenu{border-right:#9b9a99 solid 1px;border-left:1px #9b9a99 solid;background-image:url('bg.gif');background-repeat:repeat;
 		   width:198px;font-size:9pt}
.sr .menu-txt{padding:3px 15px 6px 0;background:url('../orangeZitova/dot.gif') no-repeat 180px 6px;
 			  border-bottom:1px solid #dcdcdc;margin:0px 10px}
.sr .menu-txt2{padding:0 10px 5px 10px;}
.menu-txta{font-family:Tahoma;font-size:9pt;color:#444444;line-height:18px;  padding:3 15 6 0;border-bottom:1px solid #dcdcdc;margin:0 10px}
.sr .descri{ text-align:justify}
.sr .s{width:200px;background:url('MenuDown.png') no-repeat center top;height:13px}
/* Footer
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer{float:left;width: 955px;font-family:Tahoma;font-size:9pt;height:41px;direction:rtl;
	    background:url('bgp.jpg') repeat;border:1px #aca899 solid;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;
	    text-align:center;}
.footer p{line-height:39px}

.clearfix {display: inline-block;}
.clearfix:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}