/* Designed by "inventor_robot@yahoo.com" */
* { margin: 0; padding: 0; }
body { background:#e7f9fd;font: normal 10pt "tahoma", sans-serif; margin: 0px; padding: 0px;}
input, button, textarea, select {  font: normal 10pt "tahoma", sans-serif; color:#373737; vertical-align: middle; }
legend { display: none; }
fieldset { border: none; }
ul, ol { list-style: none; }
table { border-collapse: collapse; width: 100%; }
hr { display: none; }
img { padding: 0px; margin: 0px; border: none; text-align: center;}

a:link { text-decoration: none; color : #444444; border: 0px;}
a:active { text-decoration: none; color : #444444; border: 0px;} 
a:visited { text-decoration: none; color : #319bd8; border: 0px;}
a:hover	{ text-decoration:none; color :#1581b1; border: 0px;} 
a:focus { outline: none;-moz-outline-style: none;}

h1, h2, h3, h4 { font-family: "tahoma" , Arial, Helvetica, sans-serif; }
/* bg 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#bg {width: 1003px; margin: 0 auto;}
.con { width: 1003px; float: left;}

/* Header 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header { direction:rtl;border-bottom:1px #aaa solid;text-align:right;width: 1003px;height:190px; float:right}

/* Menu 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nav{ float:right;width: 1003px;font-family:Tahoma;font-size:9pt;height:41px;direction:rtl;background:#e7f9fd url('menubg.gif') repeat-x right top}

.nav2{text-align:right;float:right;height:41px;width:600px}
.nav2 ul{height:41px;float:right;display:inline;padding-top:13px;width:600px}
.nav2 ul li{height:41px;display:inline;padding-right:4px}
.nav2 a{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;height:41px;padding:13px;border-width:1px;border-style:solid;color:#1581b1; text-decoration:none;outline:none;} 
.nav2 a:visited{border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;height:41px;padding:13px;border-left:1px #1581b1 solid;border-right:1px #1581b1 solid;border-top:1px #1581b1 solid; text-decoration:none;outline:none;}
.nav2 a:hover{height:41px;background:#1581b1;border:1px solid #FFF;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#FFF;text-decoration:none;}

.nav3{float:left;height:41px;width:190px;background:url('searchbar.png') no-repeat right center}
.sch{height:41px;width:190px;float:right}
.txt{border:0;background:none;height:25px;width:140px;color:#1581b1;font-size:8pt;float:right;margin-top:7px;padding-right:2px}
.btn{height:30px; cursor:pointer;width:40px;border:none;background:url('gobutton.png') no-repeat top center;outline:none;float:right;margin-top:5px}

.rss{float:left;width:24px;height:41px;margin-left:5px;padding-top:8px}

.home{float:left;width:32px;height:41px;margin-left:5px;padding-top:6px}

/* Content&SidLeft 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.scs1 { float: left; width: 773px;}
/* Side 1-2-3
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sc-all { width: 543px;float:right;}
.sc { text-align:right;direction:rtl;padding-top:5px;width: 543px;}
/* Post Single
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.post{padding: 0px 0px;}

.post .p-head {width:542px}
.post .p-head1{width:542px;height:50px;background:url('posttitle.gif') no-repeat right top;direction:rtl;text-align:right;font-size:9pt}
.p-head1 a{text-decoration:none;}
.p-head1 a:hover{text-decoration:none;}
.post .p-head2{padding:20px 75px 0px 20px;}

.post .p-con {width:542px;overflow:hidden }
.post .p-con1{width:542px;background:url('postmiddle.gif') repeat-y right top;color:#333333;font-size:9pt;}
.post .p-con2{padding:5px 20px 5px 20px;}
.post .p-photo{float:right}
.post .p-height{line-height:21px}
.post .p-con3{width:542px;height:48px;text-align:right;float:left}
.post .p-con3 .left{height:48px;padding-left:12px;background:url('pboxzirleft.png') no-repeat left top }
.post .p-con3 .right{height:48px;padding-right:11px;background:url('pboxzirright.png') no-repeat right top}
.post .p-con3 .middle{height:48px;background:url('pboxzirmid.png') repeat-x;}
.post .p-con4{width:515px;height:48px}
.post .date{width:405px;height:22px;float:right;font-size:8pt;color:#7e8802}
.post .date .user{width:22px;height:22px;background:url('usericon.png') no-repeat right top;float:right;margin-top:18px}
.post .date .text{width:380px;height:22px;float:right;margin-top:22px}
.post .nazar{width:110px;height:33px;float:left;font-size:9pt;color:#7e8802;text-align:center;background:url('commandicon.png') no-repeat right top;margin-top:15px}
.post .nazar a{color:#7e8802}
.post .nazar .commandicon{height:33px;padding-top:8px;padding-right:13px}
.post .shadow{float:right;width:542px;height:12px;background:url('sboxzirshadow.png') no-repeat center top;}

.cb_general{margin:0px auto;width:542px;padding:10px;color:#7e8802; text-align:right;font-size:10pt;line-height:24px}
.cb_general a{}
.cb_general a:hover{}

.cb_page_box{overflow:hidden;margin:0px auto;font-size: 10pt;font-family: Tahoma ;color: black;text-align:center;width:400px;padding:0 90 0 0;}
.cb_page_box ul{direction:rtl;height:17px;margin:0px auto;width:400px;list-style:none;text-align:center;}
.cb_page_box li{float:right; margin-right:5px;list-style:none;background:none;width:auto;}
.cb_page_box a{border:1px solid #c3c3c3;display:block;line-height:14px;text-align:center;width:17px;color:#1581b1 ;background:#ededed none repeat scroll 0 0;}
.cb_page_box a:hover{text-decoration:none;}
.cb_page_box a b{color:#fff;background:#1581b1 none repeat scroll 0 0;display:block;line-height:14px;text-align:center;width:17px;	}
.cb_page_box a i:before{}

/* Side 1
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sl{direction:rtl;text-align:right;float:left;width: 220px;font-size: 11px;padding-top:5px}
.menul{width:220px;float:left;}
.sl .tmenu{width:220px;height:22px;color:#e47300;font-size:9pt;}
.sl .tmenu .left{height:22px;padding-right:10px;background:url('sboxtopleft.gif') no-repeat left top;}
.sl .tmenu .right{height:22px;padding-right:10px;background:url('sboxtopright.gif') no-repeat right top;}
.sl .tmenu .middle{height:22px;background:url('sboxtopmid.gif') repeat-x;}
.menul .middlel{width:220px;float:left;background:url('sidemid.gif') repeat}
.sl .sidtitle{width:209px;margin:0px auto}
.sl .sidtitle .left{padding-left:10px;height:36px;background:url('stitleL2.png') no-repeat left top;}
.sl .sidtitle .right{padding-right:10px;height:36px;background:url('stitleR2.png') no-repeat right top;}
.sl .sidtitle .middle{height:36px;background:url('stitleM2.png') repeat-x;}
.sl .xmenu{color:#1581b1;font-size:9pt;padding-top:10px}
.sl .menu-txt2{color:#1581b1;text-align:center;padding-top:10px}
.sl .menu-txt{width:220px;background:url('dot.gif') no-repeat 190px 5px}
.sl .menu-txta{padding-right:31px;padding-left:11px;padding-bottom:8px}
.sl .menu-txtab{padding-right:11px;padding-left:11px}
.sl .descri{ text-align:justify;line-height:21px}
.sl .sideBottoml{width:220px;height:25px;float:right}
.sl .sideBottoml .left{ height:25px;background:url('sboxzirleft.gif') no-repeat left top;}
.sl .sideBottoml .right{height:25px;padding-right:10px;background:url('sboxzirright.gif') no-repeat right top;}
.sl .sideBottoml .middle{height:25px;background:url('sboxzirmid.gif') repeat-x;}
.sl .shadow{float:left;width:220px;height:12px;background:url('sboxzirshadowm.png') no-repeat left top}

/* Side 2
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sr {text-align:right;direction:rtl; float:right; width: 220px; font-size: 11px;padding-top:5px}
.sr .menur{width:220px;float:right}
.sr .tmenu{width:220px;height:22px;color:#e47300;font-size:9pt;}
.sr .tmenu .right{height:22px;padding-right:10px;background:url('sboxtopright.gif') no-repeat right top;}
.sr .tmenu .left{height:22px;padding-right:10px;background:url('sboxtopleft.gif') no-repeat left top;}
.sr .tmenu .middle{height:22px;background:url('sboxtopmid.gif') repeat-x;}.menul .middlel{width:220px;float:right;background:url('sidemid.gif') repeat}
.menur .middler{width:220px;float:right;background:url('sidemid.gif') repeat}
.sr .sidtitle{width:209px;margin:0px auto}
.sr .sidtitle .left{padding-left:10px;height:36px;background:url('stitleL2.png') no-repeat left top;}
.sr .sidtitle .right{padding-right:10px;height:36px;background:url('stitleR2.png') no-repeat right top;}
.sr .sidtitle .middle{height:36px;background:url('stitleM2.png') repeat-x;}
.sr .xmenu{color:#1581b1;font-size:9pt;padding-top:10px}
.sr .menu-txt2{color:#1581b1;text-align:center;padding-top:10px}
.sr .menu-txt{width:220px;background:url('dot.gif') no-repeat 190px 5px}
.sr .menu-txta{padding-right:31px;padding-left:11px;padding-bottom:8px}
.sr .menu-txtab{padding-right:11px;padding-left:11px}
.sr .descri{text-align:justify;line-height:21px}
.sr .sideBottomr{width:220px;height:25px;float:right}
.sr .sideBottomr .left{ height:25px;background:url('sboxzirleft.gif') no-repeat left top;}
.sr .sideBottomr .right{height:25px;padding-right:10px;background:url('sboxzirright.gif') no-repeat right top;}
.sr .sideBottomr .middle{height:25px;background:url('sboxzirmid.gif') repeat-x;}
.sr .shadow{float:right;width:220px;height:12px;background:url('sboxzirshadowm.png') no-repeat right top}
/* Footer 
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer{clear:both;margin:0px;padding:0px;text-align:center; width: 100%;background:url('footer.gif') repeat-x  top;font-size:9pt;color:#1581b1;direction:rtl;height:45px;}
.footer p{padding-top:12px}

.clearfix:after {content: " ";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display:inline-table;}/* Hides From IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display:block;}/* End Hide From IE-mac */